{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">ABOUT</h1>
      <p class="lead fw-normal text-white-50 mb-0">About me...sha sha somehow </p>
    </div>
  </div>
</header>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <p class="text-justify">
        <strong>What is Lorem Ipsum?</strong><br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry...
        <br><br>

        <strong>Why do we use it?</strong><br>
        It is a long established fact that a reader will be distracted by the readable content...
        <br><br>

        <strong>Where does it come from?</strong><br>
        Contrary to popular belief, Lorem Ipsum is not simply random text...
        <br><br>

        <strong>The standard chunk of Lorem Ipsum...</strong><br>
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below...
        <br><br>

        <strong>Where can I get some?</strong><br>
        There are many variations of passages of Lorem Ipsum available...
      </p>
    </div>
  </div>
</div>

{% endblock %}
