{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Categories</h1>
      <p class="lead fw-normal text-white-50 mb-0">Choose your category below</p>
    </div>
  </div>
</header>

<br>

<div class="container">
    {% for category in page_obj_categories %}
        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'category' category %}" class="text-decoration-none w-100" style="max-width: 500px;">
                <div class="card w-100 h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title text-dark">{{ category.name }}</h5>
                        <p class="card-text text-muted">{{ category.name }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% empty %}
        <p class="text-center">No categories to display.</p>
    {% endfor %}
</div>




{% endblock %}
