{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">

            {% for product in page_obj %}
                {% if product.is_sale %}
                <div class="col mb-5">
                <div class="card h-100">
                   <div class="badge text-dark  position-absolute" style="top: 0.5rem; right: 0.5rem; background-color: gold;">Sale</div>
                    <img class="card-img-top" src="{{ product.image.url }}" width="300" height="300" alt="{{ product.name }}" />
                    
                    <div class="card-body p-4">    
                        <div class="text-center">
                            <h5 class = "fw-bolder" >{{product.name}}</h5>
                            <br>
                            <p class = "fw-bolder"style="margin-bottom: 3px; font-size: 24px;" >₦{{product.sale_price|intcomma}}</p>
                            <p><s class="text-muted">₦{{ product.price|intcomma }}</s></p>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View product</a></div>
                    </div>
                </div>
            </div>
                {% else %}
                
            
            <div class="col mb-5">
                <div class="card h-100">
                   <img class="card-img-top" src="{{ product.image.url }}" width="300" height="300" alt="{{ product.name }}" />

                    
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <br>
                        <p class = "fw-bolder"style="margin-bottom: 3px; font-size: 24px;" >₦{{product.price|intcomma}}</p> 
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View product</a></div>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}

            
          


        </div>
    </div>
</section>

{% include 'includes/pagination.html' %}

{% if not page_obj %}
    <div class="container text-center">
        <h2 class="mt-5">No products available</h2>
        <p class="lead">Please check back later or explore other sections of the site.</p>
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Return to Home</a>
    </div>
{% endif %}


{% endblock %}